<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sharon.edusoft">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity android:name=".AdminPanel.AdminViewPdf"></activity>

        <receiver android:name=".OTP_Receiver.Otp_Receiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".UserProfile" />
        <activity android:name=".OTP_Receiver.OtpVerification" />
        <activity android:name=".SetbookPdf.ViewPdf"
            android:hardwareAccelerated="false"/>
        <activity android:name=".AdminPanel.UploadPdf" />
        <activity android:name=".SetbookPdf.SetbookPdf" />
        <activity android:name=".StudDashboard" />
        <activity
            android:name=".AdminPanel.AdminHome"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".DarajaMpesa.MpesaActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".MyLibrary.Library" />
        <activity android:name=".EditVideoActivity" />
        <activity
            android:name=".MyVideos.MyVideosActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Video.VideoActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:resizeableActivity="true"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Home.Categories.CategoriesActivity" />
        <activity android:name=".Settings.SettingsChangeProfilePicActivity" />
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".AddVideo.VideoUploadActivity" />
        <activity android:name=".AddVideo.AddInfoVideoActivity" />
        <activity android:name=".AddVideo.ChooseVideoActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SetupAccount.SetupAccountImageActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <receiver android:name=".Video.NotificationVideoReceiver" />

        <service
            android:name=".DarajaMpesa.FirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>